.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 600px;
}

.logo {
  margin-top: 40px;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.dropzone {
  cursor: pointer;
  width: 100%;
  max-width: 360px;
  height: auto;
}
