.money-label {
  color: white;
  font-size: 16px;
  font-family: monospace;
  white-space: nowrap;
}

.money-input {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.money-row {
  display: flex;
  align-items: center;
  gap: 12px;
}
