@font-face {
  font-family: "PixelMplus10-Regular";
  src: url("/fonts/PixelMplus10-Regular.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
}

.start-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.start-screen-title {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.start-screen-dropzone {
  max-width: 360px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.save-data-editor-container {
  display: flex;
  gap: 12px;
  height: calc(100vh - 40px);
  max-height: 100vh;
  padding: 8px;
  background-color: black;
  color: white;
  font-family: "PixelMplus10-Regular", monospace;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  align-items: stretch;
}

.json-display-panel {
  width: calc(100% - 340px);
  position: relative;
  overflow-y: visible;
  border: 3px solid white;
  border-radius: 12px;
  padding: 24px 12px 12px 12px;
  white-space: pre-wrap;
  background-color: black;
}

.json-display-label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: bold;

  border-radius: 8px;
  letter-spacing: 0.15em;
  color: white;
  font-family: "PixelMplus10-Regular", monospace;
  user-select: none;
  pointer-events: none;
}

.command-panel {
  width: 320px;
  border: 3px solid white;
  border-radius: 12px;
  padding: 12px;
  background-color: black;
  overflow-y: auto;
  box-sizing: border-box;
}
